.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;

}

.features {
    display: flex;
    align-items: center;
    gap: .3em;
}

.textarea {
    width: 100%;
}