.cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

----------------------------

body {
    font-family: Roboto;
}
.container {
    background-image: url("../../assets/rishab-lamichhane-r1Y2npWGKhU-unsplash.jpg");
    background-size:cover;
    background-position:bottom;
    height: 35em;
    display: flex;
    align-items: end;
}

.h1{
    font-size: 7rem;
    margin: 0;
    color:rgba(255, 255, 255, 0.381);
    font-weight: 400;
    margin-top: 1.5rem;
}

.form {
    margin-right: 5em;
    margin-left: .8em;
    position: relative;
}

.icon{
    width: 50px;
    position: absolute;
    left: .8em;
    bottom: .8em;
}


.input {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: .8em;
    padding: 1em .5em 1em .5em;
    outline: none;
    border: none;
    text-indent: 3em;
    margin-right: 5em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;

}

.first_column {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 3em 2em 6em;
}

.second_column {
    display: flex;
    flex-direction: column;
}
.h2, .h3 {
    color:white;
    line-height: 35px;
    margin: 0 0em 0 0 ;
}

.h2 {
    font-size: 2rem;
    width: 65%;
    margin-bottom: 1em;

}
.h3 {
    font-weight: 300;
    font-size: 2rem;
    width: 65%;
    margin-bottom: 1.5em;

}

.card {
    position:relative
}

.addIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: scale(1.2) translate(-50%, -50%);
    opacity: 15%;
}
.addIcon:hover {
    opacity: 100%;
    transform: scale(1.1) translate(-50%, -50%);
}