.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:1em 1.5em 1em 0;
    
}

.logo {
    min-width: 4em;
    margin-left: .8em;
}
.icon{
    width: 25px;
    position: absolute;
    right: 0;
    bottom: .7em;
}

.form {
    width: 100%;
    margin-right: 5em;
    margin-left: .8em;
    position: relative;
}

.input {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 2em;
    padding: 1em .5em 1em .5em;
    outline: none;
    border: none;
    text-indent: 1em;
    margin-right: 5em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: .9rem;

}

.selector {
    display: flex;
    list-style: none;
    gap: 2em;
    flex-wrap: nowrap;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: larger;
}

.navLink{
    color: inherit;
    text-decoration: inherit; 
    border: 2px solid transparent;
    position: relative;
    padding: .5em 2em .5em 2em;
    white-space: nowrap;
}

.navLink:hover{
    border-bottom: 2px solid black;
}
.navLink_active {
        color: inherit;
    text-decoration: inherit; 
    border: 2px solid transparent;
    position: relative;
    padding: .5em 2em .5em 2em;
    white-space: nowrap;
    border-bottom: 2px solid black;
}
